.main_title {
	text-align: center;
	font-size: 30px;
}

.subjects {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.subjects {
		padding: 15px;
	}
}

.accordion__title, .accordion__body {
	padding: 18px;
	width: inherit;
}

.accordion__title:focus {
	outline: none;
}

.accordion__title {
	font-size: 18px;
	font-weight: bold;
}

.accordion__body:hover {
	background-color: rgba(102, 206, 199, 0.2);
}

.note-link {
	font-size: 16px;
	text-decoration: none;
	color: lightseagreen;
}